header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images\artem-sapegin-e2uTOpgW5Ec-unsplash.jpg);
    background-size: cover;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}