@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html{
  color: aliceblue;
  scroll-behavior: smooth;
}
body{
    background-color: rgba(202, 202, 202, 0.562);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}
header{
    z-index: 1;
    position: fixed;
}

.header-texts{
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.226),rgba(0, 0, 0, 0.226)), url(../images/artem-sapegin-e2uTOpgW5Ec-unsplash.jpg);
    background-size: cover;

}
h1{
    font-size: 3em;
    font-weight: 100;
}
h2{
    font-size: 2em;
    font-weight: 100;
    opacity: 60%;
}

/*----------------------SIDE BAR-----------------------------*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: rgb(221, 221, 221);
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding:0;
    border: none;
    transition: 0.3s;
  }
  
  .openbtn:hover {
    color: rgb(20, 20, 20);
    font-size: 2em;
   
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 0;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .blog-articles{max-width: 100%;}
  }
/*----------------------END SIDE BAR-----------------------------*/




/*----------------------BLOG SECTION-----------------------------*/
hr{
  border-color: blanchedalmond;
  width: 80%;
}

.blog-section{
  color: #111;
  display: grid;
}
.blog-articles{
  width: 80%;
  justify-self: center;
  font-size: 1.6em;
  transition: 0.3s;

}
.blog-articles:hover{
  border-radius: 10px;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  width: 83%;
}
li{
  margin-top: 0.2em;
  padding-right: 0.9em;
}
h3{
  text-align: center;
}

section a{
  text-decoration: none;
  color: #000000;
}
section a:hover{
  text-decoration: underline;
  color: aliceblue;
}




/*----------------------END OF BLOG SECTION-----------------------------*/




/*----------------Footer---------------*/
footer{
  background-color: rgb(24, 24, 24);
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer > div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-list{
  list-style: none;
  display: flex;
}

.social-logos{
  width: 50%;
  border-bottom: solid transparent 1px;
  transition: 0.2s;
}
.social-logos:hover{
  border-bottom: solid whitesmoke 1px;
}
.copyright > p{
  text-align: center;
}


/*----------------/Footer---------------*/